header{    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eac996;
    list-style: none;
    padding: 0%;  
   }   

   nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%; 
    
}
ul li{
    display:inline-block;
    padding: 0% 20px;
}   
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    color: grey;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;  
}
.inicio{
    position:relative;
    padding-left: 150px;
}
.card{
    background:hwb(14 81% 5%);
    border: solid #eac996
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px;
    Margin: 20px 20px 20px 20px;
    grid-template-rows: 200px;
    gap: 60px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    }
h1{
    font-family:Arial, Helvetica, sans-serif;
    color: sienna;

       }
h2{
    font-family:Arial, Helvetica, sans-serif;
    color: sienna;
    text-align: center;
}

.cont-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px;
    Margin: 20px 20px 20px 20px;
    grid-template-rows: 200px 200px;
    gap: 60px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}





