header{    
    font-family: Arial, Helvetica, sans-serif;
    background-color:#eac996;
    list-style: none;
    padding: 0%;  
   }   

   nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%; 
    
}
ul li{
    display:inline-block;
    padding: 0% 20px;
}   
a{
    color:black;
    text-decoration: none;
    
}
a:hover{
    color: grey;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;  
}
.inicio{
    position:relative;
    padding-left: 150px;
}
.card{
    background:#eedc9a;
   
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px;
    Margin: 20px 20px 20px 20px;
    grid-template-rows: 200px;
    gap: 60px;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    }
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: sienna;

       }
h2{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: sienna;
    position:sticky;
    padding-left: 150%;
       
}

h3{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:sienna;
    position: sticky;
    padding-left: 30%;
    font-style: italic;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
   
}
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color:sienna;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:silver;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

.separator{
    width: 0%;
    height: 10%;
    background: #fff;
    border-right: 100vw solid transparent;
    border-bottom: 10vw solid rgb(204, 155, 109);
    margin-top: 0vw;
    transform: (-30deg);
       
}

.whatsapp-logo {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
}
.correo {
    display: flex;
    align-items: center;
}

.correo i {
    margin-right: 5px; 
}
.telefono {
    display: flex;
    align-items: center;
}

.telefono i {
    margin-right: 5px; 
}


